.main-btn {
    font-weight: 500;
    color: lightgray;
    box-shadow: $main-shadow;
    background: $dark-purple;
    display: inline-block;
    padding: 5px 20px;
    margin: 20px 0;
    font-size: 20px;
    border-radius: 20px;
    font-family: "JetBrains Mono", monospace;
    transition: all 0.25s;
    &:hover {
      background: $main-purple;
    }
  }