.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    .inner-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    .wrapper-one {
      justify-content: flex-end;
      overflow: hidden;
    }
  
    .wrapper-two {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }